.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15rem;
    padding-right: 15rem; 
}

.dark-background {
    background-color: #191919;
}

.content-box {
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem;
    background-color: #252525;
    border-radius: 5px;
}

.white-text {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-text {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
    margin-top: 1rem;
}

.bio-text {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 500;
    font-size:large;
    font-style:normal;
}

.section-title {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 2rem;
}

.nav-logo{
    width: 14px;
    margin-right:.5rem;
}

.my-logo {
    width: 37px;
    margin-right: 1rem;
}

.my-name {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    margin-bottom: 5rem;
    margin-top: 10rem;
}

.projectpage-title {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 55px;
    margin-bottom: 2rem;
    margin-top: 10rem;
}
.projectpage-subtitle {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 700;
    font-style: large;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.projectpage-sectiontitle {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: large;
    margin-bottom: 2rem;
}

hr {
    color: #d4d4d4;
}

body {
    background-color: #191919;
    cursor: default;
}

button {
    background-color: #252525;
    border: none;
    outline: 1px solid #414141;
    border-radius: 5px;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem; 
    padding-top: .25rem; 
    padding-bottom: .25rem;
    transition: 0.1s ease;
}

button:hover {
    background-color: #303030;
}

.dk-profile-img {
    width: 100px;
}

.project-coverimg-png {
    width: 100%;
    transition: 0.3s ease;
    border-radius: 5px;
}

.project-coverimg-png:hover {
    background-color:rgba(0, 0, 0, 0.3);
}

.project-coverimg-solid {
    width: 100%;
    transition: 0.3s ease;
    border-radius: 5px;
}

.project-coverimg-solid:hover {
    filter: brightness(60%);
}

.img-fullwidth {
    width: 100%;
    border-radius: 5px;
}

.project-titlelink {
    color: #d4d4d4;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 350;
    font-size: x-large;
    text-decoration:underline;
    text-decoration-color: #414141;
    transition: 0.2s ease;
}
.project-titlelink:hover {
    color: white;
}

.project-titledescription {
    color: #a1a1a1;
    font-family: "proxima-nova" , sans-serif;
    font-weight: 350;
    font-size:large;
}

.social-icon {
    float: right;
    transition: 0.1s ease;
}

.social-icon:hover {
    color: white;
}



/* MEDIA QUIERIES */

@media (min-width: 320px) { 
    /* Mobile phones */ 
    .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem; 
    }
    .dk-profile-img {
        width: 100px;
        margin-bottom: 2rem;
    }
    .my-name {
        color: #d4d4d4;
        font-family: "proxima-nova" , sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 45px;
        margin-bottom: 2rem;
        margin-top: 7rem;
    }
    .my-logo {
        width: 30px;
        margin-right: 1rem;
    }

    .projectpage-title {
        color: #d4d4d4;
        font-family: "proxima-nova" , sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 40px;
        margin-bottom: 2rem;
        margin-top: 5rem;
    }
    .projectpage-subtitle {
        color: #d4d4d4;
        font-family: "proxima-nova" , sans-serif;
        font-weight: 700;
        font-style: large;
        font-size: 20px;
        margin-top: 0rem;
        margin-bottom: 2rem;
    }
    .projectpage-sectiontitle {
        color: #d4d4d4;
        font-family: "proxima-nova" , sans-serif;
        font-weight: 500;
        font-size: 20px;
        font-style: large;
        margin-bottom: 2rem;
    }
}

@media (min-width: 576px) { 
    /* Small devices */ 
    .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem; 
    }
    .dk-profile-img {
        width: 100px;
    }
    .my-name {
        color: #d4d4d4;
        font-family: "proxima-nova" , sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 55px;
        margin-bottom: 5rem;
        margin-top: 10rem;
    }
    .my-logo {
        width: 37px;
        margin-right: 1rem;
    }
    .projectpage-title {
        color: #d4d4d4;
        font-family: "proxima-nova" , sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 55px;
        margin-bottom: 2rem;
        margin-top: 10rem;
    }
    .projectpage-subtitle {
        color: #d4d4d4;
        font-family: "proxima-nova" , sans-serif;
        font-weight: 700;
        font-style: large;
        font-size: 30px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .projectpage-sectiontitle {
        color: #d4d4d4;
        font-family: "proxima-nova" , sans-serif;
        font-weight: 500;
        font-size: 30px;
        font-style: large;
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) { 
    /* Medium devices */ 
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem; 
    }
    .dk-profile-img {
        width: 120px;
    }
}

@media (min-width: 992px) { 
    /* Large devices */ 
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 6rem;
        padding-right: 6rem; 
    }
    .dk-profile-img {
        width: 130px;
    }
}

@media (min-width: 1200px) { 
    /* Extra large devices */ 
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10rem;
        padding-right: 10rem; 
    }
    .dk-profile-img {
        width: 130px;
    }
}

@media (min-width: 1400px) { 
    /* XXL devices */ 
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15rem;
        padding-right: 15rem; 
    }
    .dk-profile-img {
        width: 130px;
    }
}